root/models/database/database.js
root/models/database/account-db.js
root/models/database/transaction-db.js
documentation/selfreflectionph2.txt
documentation/selfreflectionph3
documentation/selfreflectionph3.txt
documentation/selfreflectionph4.txt
