/* Instruction: Responsive Layout
Your application must be usable on both desktop screens (1024px and wider) and mobile screens
(375px to 767px). You do not need to support every possible viewport, but the following should hold
true at both breakpoints:
• No horizontal scrollbar on the page body
• All text is legible without zooming
• Navigation is accessible - If your desktop nav is a horizontal bar, your mobile view must
provide an equivalent (collapsed menu, hamburger, or stacked links)
*/

/* TODO:
   Set minwidth and maxwidth for nav sidebar

   Make Mobile version of nav hamburger menu
   Make mobile layout for header and main (whatever I have so far, anyway)
*/

/* set colors (idk if :root is industry standard or if my variable names are) */ 
:root {
   --bg-main: #FFFFFF;
   --bg-1: #FAF4F3;
   --bg-2: #E7DAD3;
   --nav-link-txt: #FAF4F3;

   --balance-green:  #3A8355;
   --income-blue: #3A79B5;
   --expense-red: #CF565D;
   --transfer-yellow: #EEB564; /* not currently used */


   --temp-color: #845EC2; /* Bright color to check things like position, for working and not a final color anywhere */
}

/* resetting browser default styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Blocking the Webpage */
header, nav, main, footer {
   display: block;
   box-sizing: border-box;
}

/* root container */
#root-container {
   display: flex;
   flex-direction: row;
}

/* main and header */
#content-container {
   width: 80%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;
}

/* Navigation active/default */
nav {
   max-width: 300px;
   min-width: 200px; /* this is just to make sure the nav doesn't get too small on desktop, but it can still be smaller than 200px on mobile */
   display: flex;
   flex-direction: column;
   gap: 1rem; /* used rem instead of em to ensure consistency across website in case parent font size ever varies */
   background-color: var(--bg-2);
   padding: 0 1.2rem 1.2rem 1.2rem; /* no padding on top */
}
nav * {
   text-decoration: none;
   color: var(--nav-link-txt);
   font-size: 1.4rem;
   font-weight: 900;
   margin:  0 0 .8rem 0; /* .8 vertical margin on bottom, no margin elsewhere */
}
nav a:hover {
   color: var(--temp-color);
}

/* Hamburger button */
nav #hamburger-btn {
   /* show full button position */
   /* border-style: solid;
   border-width: 2px;
   border-color: var(--temp-color); */
   /* background-color: var(--temp-color); */ /* having a background color makes it tiny???? */
   background: none; /* remove default button background */
   border: none; /* remove default button border */
   margin: 1rem 0; /* add some margin to separate it from the nav links and bring down from top-top of screen */
   text-align: left; /* left align the hamburger symbol */

   /* optional */
   font-size: 3rem; /* make the hamburger menu bigger and easier to click */
   font-weight: bold; /* make t h i c c */
   cursor: pointer; /* change cursor to pointer on hover to indicate it's clickable */
   color: var(--nav-link-txt);
}

/* Navigation inactive */
nav.inactive {
   width: 100px;
   min-width: 100px; 
   max-width: 100px; 
   background-color: var(--bg-main);
}
nav.inactive a {
   display: none;
}
nav.inactive #hamburger-btn {
   color: var(--bg-2);   
}


/* Footer */
footer {
   width: 100%;
   background-color: var(--bg-2);
   text-align: center;
   padding: 1rem; /* used rem instead of em to ensure consistency across website in case parent font size ever varies */
}

/* Media Query for Mobile (Phone and Tablet) */
@media (min-width: 375px) and (max-width: 767px) {
   /* Navigation */
   nav {
      align-items: center; /* Center vertically */
      width: 100%;
      min-width: 100%; 
      max-width: 100%; 
      }

   /* Navigation inactive for mobile */
   nav.inactive a {
      display: none;
   }
}